<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.manhua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manhua"
        android:usesCleartextTraffic="true">
        <activity android:name=".AddUserActivity"></activity>
        <activity android:name=".CartoonDetailsActivity" />
        <activity
            android:name=".RimanFragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".GuomanFragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".RecommendFragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ReadActivity"
            android:label="@string/title_activity_read" />
        <activity android:name=".CartoonList" />
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>